# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Test
coverage/

# VitePress
packages/docs/.vitepress/dist/
packages/docs/.vitepress/cache/

# TypeScript
*.tsbuildinfo

# Auto-imports
**/auto-imports.d.ts
**/.eslintrc-auto-import.json

# Environment
.env
.env.local
.env.*.local
.vercel
